* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 1.5rem;
    
}

label {
    font-size: 18px;
}

select {
    margin: 0 1rem 1rem .2rem;
    padding: .4rem;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: purple;
    color: white;
}

option {
    background-color: black;
}

button {
    border: 2px solid black;
    padding: 0.5rem .8rem;
    background-color: purple;
    color: white;
    border-radius: 3px;
    
}

main {
    background-color: purple;
    color: white;
    padding: 1rem;
    border-radius: 5px;
}

p {
   margin: 1rem .5rem ;
}
